* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

form {
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1vw;
  width: 98vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2vh;
  font-size: 2vw;
  
}
.div{
    position: fixed;

}


.p {
  text-align: center;
  color: rgb(69, 22, 240);
  text-transform: capitalize;
  margin: ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

span {
  color: rgb(151, 94, 94);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin: 2vw;
}

.submit {
  margin-top: 5vh;
  margin-left: 77vw;
  min-width: fit-content;
  width: 20vw;
  height: 10vh;
  background-color: transparent;
  color: rgb(238, 122, 122);
  font-weight: bold;
  border: 0cap;
  margin-top: 0vh;
  position: fixed;
  top: auto;
  
  z-index: 50;
  
 
  border-radius: 10vw;
  font-size: 3vw;
  border-color: antiquewhite;
}

.submit:hover {
  cursor: pointer;
  /* box-shadow: 10px 1px 10px rgb(165, 90, 159); */
  /* background-image: linear-gradient(
    90deg,
    aqua,
    rgb(25, 180, 10),
    rgb(25, 0, 255),
    purple */
  /* ); */
}

.username {
  width: 96vw;
  height: 10vh;
  margin-left: 1vw;
  border-radius: 20vw;
  text-align:center;
  flex-wrap: wrap;
  position: absolute;
  font-size: 4vw;
  background-color: rgba(250, 235, 215, 0.171);
  color: rgba(56, 51, 45, 0.651);
}

.username::placeholder {
  color: rgba(41, 23, 0, 0.301);
}

.username:hover {
  box-shadow: 10px 1px 10px rgb(163, 64, 134);
}

.password {
  margin-left: 1vw;
  width: 90%;
  height: 5vh;
  border-radius: 10px;
  text-align: center;
}

.password:hover {
  box-shadow: 10px 1px 10px rgb(165, 41, 113);
}

input {
  outline: none;
  border: 2px solid rgb(230, 131, 92);
  width: 40px;
  margin: 0%;
}

.div {
  background-image: url();
  color: rgb(31, 31, 230);
}

body {
  background-color: rgb(255, 255, 255);
}

.user {
  display: flex;
  flex-wrap: wrap;
}
img {
  position: fixed;
  left: 30vw;
  top: 40vh; 
  align-items: center;
  justify-content: center;
  
  z-index: -5;
  width: 30vw;
}
.card {
  box-shadow: 10px 10px 10px rgb(138, 151, 153);
  background-color: lightgrey;
}

.card:hover {
  box-shadow: 6px 6px 10px 12px aqua;
  background-color: rgb(216, 108, 108);
}

@media screen and (width <=600px) {
  body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
  }

  .card {
    width: auto;
    border: 1px solid gray;
    border-radius: 4vw;
  }
.itemContainer{
    display: flex;flex-wrap: wrap;
    margin-top: 30vw;
    justify-content: space-evenly;
    
}
.p{
    font-size: 6vw;
}
}

@media screen and (width > 600px) {
  .card {
    width: 250px;
    border: 1px solid gray;
    border-radius: 1vw;
  }
  .itemContainer{
    display: flex;flex-wrap: wrap;
    margin-top: 25vh;
    justify-content: space-evenly;
}
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.okg {
  background-color: red;
}
